<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.worawat.stressrecognition">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <activity android:name=".StartService" />

        <service
            android:name=".MonitorIntentService"
            android:exported="false" />
        <service
            android:name=".MonitorService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".LoginActivity" />
        <activity android:name=".CreateAccountActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".AWSService"
            android:enabled="true"
            android:exported="true" />

        <receiver android:name=".Alarm" />

        <uses-library
            android:name="com.google.android.wearable"
            android:required="false" />

        <activity
            android:name="com.model.Main2Activity"
            android:label="@string/title_activity_main2"
            android:theme="@android:style/Theme.DeviceDefault.Light">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>