<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.worawat.stressrecognition">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM"/>



    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.worawat.stressrecognition.MainActivity" />
        <activity android:name="com.example.worawat.stressrecognition.StartService"></activity>

        <service
            android:name="com.example.worawat.stressrecognition.MonitorIntentService"
            android:exported="false" />
        <service
            android:name="com.example.worawat.stressrecognition.MonitorService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name="com.example.worawat.stressrecognition.LoginActivity"></activity>
        <activity android:name="com.example.worawat.stressrecognition.CreateAccountActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.example.worawat.stressrecognition.AWSService"
            android:enabled="true"
            android:exported="true"></service>
        <receiver
            android:name="com.example.worawat.stressrecognition.Alarm"
            />
    </application>

</manifest>